.form {
  width: 700px;
  background: rgba(135, 206, 235, .6);
  background-size: 40px 60px;
}

button {
  background-color: rgba(0, 191, 255, .4);
}

.bg {
  background-color: black;
}

#image {
  color: white;
}