@media screen and (max-width: 600px) {
	.logo-rank {
		display: flex;
		flex-flow: column;
		justify-content: center;
	}

	span.f2 {
		font-size: 1.5rem;
	}
}

@media screen and (max-width: 470px) {
	span.f2 {
		font-size: 1rem;
	}

	div.f2 {
		font-size: 1.25rem;
	}

	p.f3 {
		font-size: 1rem;
	}
}

.App {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
}

.entry {
	margin: 0 10vw;
}

.center-content{
	display: flex;
	justify-content: center;
}

.particles{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
}

.logo-rank {
	display: flex;
	justify-content: center;
}
